
.thisspecificpartinmainidkwhy {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.indexflexL {
    flex: 20%;
    padding: 1rem;
}

@media only screen and (max-width: 31.25rem) {
    .indexflexL {
    display: none;
    }
}

.indexflexR {
    flex: 80%;
    padding: 1rem;
}

.soradoll {
    transition: 999s;
}

.soradoll:hover {
    animation: shakeIntense 0.3s infinite linear;
}

.swagText {
    animation: rainbowText 1s infinite, shake 0.3s linear infinite;
}