body {
    background-image: none;
    background-color: #6B5B31;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
}

.hslFun {
    color: pink;
}

#sowuhLoopContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);

    pointer-events: none;
    height: 80vh; 
    width: 125%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.doll {
    filter: sepia(0.5) brightness(0.6);
    position: absolute;
    height: 60%;
    width: auto;
    will-change: transform;
    animation: slideOut 5s linear forwards;
}

@keyframes slideOut {
    0% {
        transform: translateX(5vw);
        opacity: 0;
    }
    1% {
        transform: translateX(0);
        opacity: 1;
    }
    90% {
        transform: translateX(-450px);
        opacity: 1;
    }
    100% {
        transform: translateX(-700px);
        opacity: 0;
    }
}

.spiral {
    --b: 30px; 
    --c: #8F7941;

    position: fixed;
    left: 50%;

    height: 100vmax;
    width: 100vmax;
    
    z-index: -10000;
    pointer-events: none;
    border-radius: 50%;
    aspect-ratio: 1;

    animation: spin 10s linear infinite;

    will-change: transform;
    background: 
        repeating-radial-gradient(calc(2*var(--b)) at top,#0000 -1px,var(--c) 0 calc(50% - 1px),#0000 50% calc(100% - 1px)) calc(50% + var(--b)) 100%, 
        repeating-radial-gradient(calc(2*var(--b)) at bottom,var(--c) -1px,#0000 0 calc(50% - 1px),var(--c) 50% calc(100% - 1px)) 50% 0;
    background-size: 150% 50%;
    background-repeat: no-repeat;
    -webkit-mask: 
        radial-gradient(calc(1.5*var(--b)) at calc(100% - var(--b)/2) 0, #0000 calc(100%/3), #000 calc(100%/3 + 1px) 110%, #0000 0) calc(50% + var(--b)/2) 100%/calc(3*var(--b)) 50% no-repeat, 
        conic-gradient(#000 0 0);
    mask: 
        radial-gradient(calc(1.5*var(--b)) at calc(100% - var(--b)/2) 0, #0000 calc(100%/3), #000 calc(100%/3 + 1px) 110%, #0000 0) calc(50% + var(--b)/2) 100%/calc(3*var(--b)) 50% exclude no-repeat, 
        conic-gradient(#000 0 0);
}

@keyframes spin {
    from { transform: translate(-50%, -30%) rotate(0deg); }
    to { transform: translate(-50%, -30%) rotate(360deg); }
}

.kuru {
    position: fixed;
    top: 0;
    margin: -6rem;
    width: calc(100% + 8rem);
    height: calc(100vh + 8rem);
    z-index: -9999;

    transform: translate(0%, 0%);
    background-image: url('/resources/img/404/kuru.png');
    background-repeat: repeat;
    background-size: 100px;
    pointer-events: none;

    will-change: transform;
    animation: infinitetile 100s linear infinite;
}

@keyframes infinitetile {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -5000px 0;
	}
}

html::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: #88816B;
    z-index: 1;
    pointer-events: none;
    display: block;
    
    animation: barPulseTop 0.185185s cubic-bezier(0.6, 0.04, 0.98, 0.335) infinite alternate;
}

html::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: #88816B;
    z-index: 1;
    pointer-events: none;
    display: block;

    animation: barPulseBot 0.185185s cubic-bezier(0.6, 0.04, 0.98, 0.335) infinite alternate;
}

@keyframes barPulseTop {
    0% { height: 15vh; }
    100% { height: 18vh; }
}

@keyframes barPulseBot {
    0% { height: 15vh; }
    100% { height: 18vh; }
}

.nfTxt {
    position: fixed;
    top: 25vh;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    letter-spacing: -0.75rem;
    font-size: 5rem;

    color: rgba(255, 255, 255, 0.3);
	text-shadow: 0 0.1rem 0.25rem rgba(26, 34, 71, 0.4);
}

.nfTxt span {
    display: inline-block;

    animation: wave 2s ease-in-out infinite;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes wave {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-2vh); }
}